/* Smart Phones und Tablets mit mittlerer Auflösung */
@media all and (min-width: 35em) {
	
    header img {
      flex: 0 0 200px;
      height: 90px;
    }
  
    nav ul {
      flex-direction: row;
    }
    
    nav li {
      flex: 1 1 0%;
    }	
  
    /* durch auto werden die beiden asides in eine Zeile gesetzt */
    aside { 
      flex: 1 auto;
    }
  
    article { 
      order: 2; 
    }
    #news { 
      order: 3; 
    }
    aside { 
      flex: 1 1 auto;
      order: 4; 
    }
    footer {
      order: 5;
    }
  }
  
  /* Smart Phones und Tablets mit mittlerer Auflösung */
  
  @media all and (min-width: 35em) {
      header img {
          margin-right: 50px;
      }
      nav ul {
          flex-direction: row;
      }
      nav li {
          margin: 0 10px;
          flex: 1 1 0%;
      }
      article {
          order: 2;
      }
      #news {
          flex: 1 auto;
          order: 3;
      }
      aside {
          /* durch auto werden die beiden asides in eine Zeile gesetzt */
          flex: 1 auto;
          order: 4;
      }
      footer {
          order: 5;
      }
  }
  
  /* Viewports mit großer Auflösung */
  @media all and (min-width: 50em) {
  /* article wird 2.5x so breit wie die beiden asides */
    article {                        
      order: 3;	
      flex: 5 1 0%;
    }
  
    aside {
      flex: 2 1 0%;
    }
    #news {
      flex: 2 1 0%;
      order: 2;
      align-self: center;
      height: 120px;  
    }
  }