body, html {
	margin: 0;
	font-family: arial;
	height: 100vh;
	background: #ccc;
  }
  
  *, *:before, *:after {
	box-sizing: border-box;
  }
  body {
	display: flex;
	flex-flow: row wrap;
}
/* Mobile first - alle Dokument-Blöcke bekommen 100% Breite */


header,
nav,
nav a,
article,
section,
aside,
footer {
	border-radius: 0px 0.5em 0.5em;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	flex: 1 100%;
}

header {
	background: #F1F3F4;
	border-color: #d5d5d5;
	display: flex;
	flex-flow: row wrap;
}

header * {
	flex: 1 1 0%;
}

header img {
	flex: 0 0 150px;
	margin-right: 20px;
}

header nav {
	flex: 1 1 100%;
}

section {
	background: #F1F3F4;
	border-color: slateblue;
}

article {
	background: #ffede0;
	border-color: #df6c20;
}

aside {
	background: #ebf5d7;
	border-color: #8db243;
}

footer {
	background: #e4ebf2;
	border-color: #8a9da8;
	display: flex;
	flex-flow: row wrap;
}

footer * {
	flex: 1 1 0%;
	justify-content: space-between;
}

footer p {
	text-align: right;
}
