body {
    background-color: green;
    background-image: url("images/pattern.gif");
    color: #ffffff

}
h1 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif
}
