html{
    /* Alle Größen orientieren sich am im html-Element angegebenen Ausgangswert. 
        100% entspricht hier der Standard-Einstellung des jeweiligen Browsers. 
        Normalerweise sind das 16px.
    */
    font-size:100%;
}

body {
    background-color: yellow;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: .75rem; /* 12px (gewünschte Schriftgröße / 16px (1rem root font size) = 0.75rem */
    /* Die Eigenschaft line-height gibt den Zeilenabstand an. 
        Diese Eigenschaft ist relativ zu der Schriftgröße.
        Hier also 150% von der Schriftgröße = 21,6px
        https://developer.mozilla.org/en-US/docs/Web/CSS/line-height
    */
    line-height: 1.5;

    /* Wichtig für das Offcanvas menu */
    height: 100vh;
}

h1 {
    font-family: 'Merriweather', 'Times' serif;     
    font-size: 2rem /*   2 * 16px ≙ 32px   */
}

button {
    background-color: goldenrod;
    color: #fff;
    font-size: 1rem
}

button:hover {
    background-color: rgba(17, 127, 43, 0.7)
}

body:before {
    display: block;
    position: absolute; 
    top: 0;
    font-size: 10rem;
    font-weight: bold;
    
}

/* Über Media-Queries kannst du CSS-Eigenschaften für bestimmte Auflösungen festlegen */
@media screen and (max-width: 800px){
    body {
        background-color: green;
    }
    h1{font-size:40px;}
    h3{font-size:24px;}
}